<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>THES IS THE DEMO.ejs FILE DATA</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sunt autem, at voluptatum dicta earum iste
        tenetur eius, ex itaque sit harum sapiente, esse distinctio est asperiores. Natus, obcaecati cupiditate.</p>
    <button>CLICK ME</button>
</body>

</html>