.content {
    width: 1000px;
    height: auto;
    margin: auto;
}

.img {
    width: 1000px;
    height: 200px;
    background-color: aqua;
}

.img img {
    width: 1000px;
    height: 200px;
}

.one {
    width: 1000px;
    height: 50px;
    background-color: lightgrey;
    text-align: center;
}

.one a {
    text-decoration: none;
    margin: 15px;
    line-height: 45px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.two {
    width: 200px;
    height: 400px;
    background-color: aqua;
    float: left;
}

.three {
    width: 600px;
    height: 400px;
    background-color: rgb(175, 207, 181);
    float: left;
}

.FORM {
    width: 600px;
    height: 400px;
    background-image: url(IMAGES/BACKGROUND.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.IMAG {
    width: 200px;
    height: 400px;
    background-color: brown;
    float: left;
}

.EDITFORMS {
    color: white;
    font-size: 20px;
    background-color: black;
    height: auto;
    width: 300px;
    text-align: center;
    padding: 20px;
    margin: 25px 120px;
    border-radius: 15px;
}

.TER {
    clear: both;
    background-color: lightcoral;
    width: 1000px;
    height: 100px;
}

.BOX {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    margin: 5px;
    padding-left: 15px;
}

.BOX:hover {
    border: 2px solid rgb(194, 173, 173);
    box-shadow: 1px 1px 1px gray;
}

.BUTT {
    width: 100px;
    height: 25px;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5px;
}

.BUTT:hover {
    background-color: red;
    cursor: pointer;
    color: white;
}

.four {
    width: 200px;
    height: 400px;
    background-color: rgb(190, 18, 139);
    float: left;
}

.foot {
    clear: both;
    width: 1000px;
    height: 80px;
    background-color: blue;
}

@media screen and (max-width:999px) {
    .content {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .img {
        width: 100%;
        height: 20%;
        background-color: aqua;
    }

    .img img {
        width: 100%;
        height: 200px;
    }

    .one {
        width: 100%;
        height: 50px;
        background-color: lightgrey;
        text-align: center;
    }

    .one a {
        text-decoration: none;
        margin: 15px;
        line-height: 45px;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .two {
        width: 30%;
        height: 400px;
        background-color: aqua;
        float: left;
    }

    .three {
        width: 70%;
        height: 400px;
        background-color: rgb(175, 207, 181);
        float: left;
    }

    .FORM {
        width: 100%;
        height: 400px;
        background-image: url(IMAGES/BACKGROUND.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
    }

    /* .IMAG {
        width: 100%;
        height: 400px;
        background-color: brown;
        float: left;
    } */

    .EDITFORMS {
        color: white;
        font-size: 20px;
        background-color: black;
        height: auto;
        width: 50%;
        text-align: center;
        padding: 20px;
        margin: 25px 120px;
        border-radius: 15px;
    }

    .TER {
        clear: both;
        background-color: lightcoral;
        width: 1000px;
        height: 100px;
    }

    .BOX {
        width: 80%;
        height: 30px;
        border-radius: 30px;
        margin: 5px;
        padding-left: 15px;
    }

    .BOX:hover {
        border: 2px solid rgb(194, 173, 173);
        box-shadow: 1px 1px 1px gray;
    }

    .BUTT {
        width: 100px;
        height: 25px;
        font-size: 15px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .BUTT:hover {
        background-color: red;
        cursor: pointer;
        color: white;
    }

    .four {
        width: 100%;
        height: 400px;
        background-color: rgb(211, 35, 152);
        clear: both;
    }

    .foot {
        clear: both;
        width: 100%;
        height: 80px;
        background-color: blue;
    }
}


@media screen and (max-width:600px) {
    .content {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .img {
        width: 100%;
        height: 20%;
        background-color: aqua;
    }

    .img img {
        width: 100%;
        height: 200px;
    }

    .one {
        width: 100%;
        height: 50px;
        background-color: lightgrey;
        text-align: center;
    }

    .one a {
        text-decoration: none;
        margin: 15px;
        line-height: 45px;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .two {
        width: 100%;
        height: 200px;
        background-color: aqua;
    }

    .three {
        width: 100%;
        height: 400px;
        background-color: rgb(175, 207, 181);
        float: left;
    }

    .FORM {
        width: 100%;
        height: 400px;
        background-image: url(IMAGES/BACKGROUND.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
    }

    /* .IMAG {
        width: 100%;
        height: 400px;
        background-color: brown;
        float: left;
    } */

    .EDITFORMS {
        color: white;
        font-size: 20px;
        background-color: black;
        height: auto;
        width: 50%;
        text-align: center;
        padding: 20px;
        margin: 25px 120px;
        border-radius: 15px;
    }

    .TER {
        clear: both;
        background-color: lightcoral;
        width: 1000px;
        height: 100px;
    }

    .BOX {
        width: 80%;
        height: 30px;
        border-radius: 30px;
        margin: 5px;
        padding-left: 15px;
    }

    .BOX:hover {
        border: 2px solid rgb(194, 173, 173);
        box-shadow: 1px 1px 1px gray;
    }

    .BUTT {
        width: 100px;
        height: 25px;
        font-size: 15px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .BUTT:hover {
        background-color: red;
        cursor: pointer;
        color: white;
    }

    .four {
        width: 100%;
        height: 400px;
        background-color: rgb(211, 35, 152);
        clear: both;
    }

    .foot {
        clear: both;
        width: 100%;
        height: 80px;
        background-color: blue;
    }
}