*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
}
.note{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 20px;
    margin-top: 80px;
}
.tool{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.note textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 8px;
}
#btn{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}